#intro {
    min-height: 100vh; 
    width: 100%;
    height: 750px;
    background-image: url(../assets/Background_Intro.png);
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    justify-items: center;
    
}

.info {
        /* background-color: white; */
        height: 200px;
        position: relative;
        z-index: 1;
        width: 680px;
        height: 327px;
        text-align: center;
    }

.profile-container{
    position: relative; 
    display: inline-block; 
    margin-bottom: 20px; 
    color: aliceblue;
}

section header{
    justify-content: center;
    margin-top: 5px;
    p{
        justify-self: center;
    }
    img{
        justify-self: center;
    }
}

.profile-pic{
    border-radius: 50%;
    object-fit: cover;
    width: 87.27px;
    height: 87.27px;
    display: block;
    margin: 0 auto 20px auto;
    border: 3px solid var(--red); 
    padding: 3px; 
}

.icon-code{
    position: absolute; 
    bottom: 18px;        
    left: 60px;
    
    
    border-radius: 50%;
    width: 31px; 
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/assets/icons/html-icon.jpg);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#projects{
    height: 750px;
    width: 100%;
    background-color: #16181D;
    text-align: center;
}


.project-card{
    margin-top: 56px;
    justify-content: center;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    height: 275px;
    gap: 24px;
    /* border: 1px solid red; */
    margin-left: 120px;
    margin-right: 120px;
}

.card{
    padding: 12px;
    font: var(--title-sm);
    color: var(--gray-100);
    background-color: var(--gray-400);
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    p{
        margin-top: 8px;
        font: var(--text-sm);
        color: var(--gray-200);
    }
    
}

.card:hover {
    transform: translateY(-10px);
}

#services{
    height: 480px;
    width: 100%;
    background-color: #0D0E11;
    padding: 88px 120px;
    text-align: center;
}

.services-grid{
    display: grid;
    grid-template-columns: 280px 280px 280px;
    height: 155px;
    margin-top: 56px;
    gap: 24px;
    justify-content: center;

}

.service-card {
  padding: 24px;
  border: 1px solid #16181D; 
  border-radius: 12px;

  
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left;
  gap: 12px; 
  font: var(--title-sm);
  color: var(--gray-100);

  p{
        font: var(--text-sm);
        color: var(--gray-200);
  }
}

#contact{
    min-height: 100vh; 
    width: 100%;
    height: 787px;
    background-image: url(../assets/Background_Contacts.png);
    background-size: cover;
    position: relative;
    text-align: center;
    justify-items: center;
    padding: 120px;

    p{
        margin-top: 8px;
    }
}


.contacts-link{
    display: grid;
    grid-template-rows: repeat(4, 68px);
    margin-top: 48px;
    height: 320px;
    width: 400px;
    gap: 16px;
}

.social-button{
    background-color: #292C34;
    color: var(--gray-200);
    font: var(--text-md);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    gap: 12px;
    text-decoration: none;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 10px; 
}