#intro {
    height: 750px;
    width: 100%;
    background-image: url(../assets/Background_Intro.png);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index: 0;
    display: grid;
    justify-items: center;
    
}

.info {
        /* background-color: white; */
        height: 200px;
        position: relative;
        z-index: 1;
        width: 680px;
        height: 327px;
        text-align: center;
    }

.profile-container{
    position: relative; 
    display: inline-block; 
    margin-bottom: 20px; 
    color: aliceblue;
}

section header{
    justify-content: center;
    margin-top: 5px;
    p{
        justify-self: center;
    }
    img{
        justify-self: center;
    }
}

.profile-pic{
    border-radius: 50%;
    object-fit: cover;
    width: 87.27px;
    height: 87.27px;
    display: block;
    margin: 0 auto 20px auto;
    border: 3px solid var(--red); 
    padding: 3px; 
}

.icon-code{
    position: absolute; 
    bottom: 18px;        
    left: 60px;
    
    
    border-radius: 50%;
    width: 31px; 
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/assets/icons/html-icon.jpg);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#projects{
    height: 750px;
    width: 100%;
    background-color: 878EA1;
}