/* utility-first */
.grid{
    display: grid;
}

.gap-16{
    gap: 16px;
}

.margin-94{
    margin-top: 94px;
}

.margin-120{
    margin-top: 120px;
}


.subtitle{
    font: var(--subtitle);
    color: var(--gray-200);
}

.subtitle-red{
    font: var(--subtitle);
    color: var(--red);
}

h1{
    margin-top: 8px;
    font: var(--title-lg);
    color: var(--gray-100);
    justify-self: center;
    margin-bottom: 20px;
}

.text-sm{
    font: var(--text-sm);
    color: var(--gray-300);
}

.container {
      display: flex;
      gap: 16px; 
      flex-wrap: wrap;
}

.tag {
      background-color: #29292e; 
      color: var(--gray-200);
      padding: 8px 22px; 
      border-radius: 50px; 
      display: flex;
      align-items: center;
      gap: 10px; 
      font-size: 14px;
      font-weight: 500;
      height: fit-content;
      font: var(--text-md);
}

.title-md{
    font: var(--title-md);
    color: var(--gray-100);
    margin-top: 8px;
}
/* .tags{
    margin-top: -80px;
} */